# <center>ATP PLAYER</center>

https://github.com/JeffSackmann/tennis_atp

http://www.tennisabstract.com/

https://libstore.ugent.be/fulltxt/RUG01/002/945/727/RUG01-002945727_2021_0001_AC.pdf

https://www.ultimatetennisstatistics.com/playerProfile?playerId=4920&tab=profile

## Imports

In [81]:
import os
import numpy as np
import pandas as pd

## Path

In [82]:
cwd = os.getcwd()

In [83]:
df = pd.read_csv(cwd + '/aggr_1968-2022.csv')
df.head()

/Users/charles/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0

In [84]:
df_under_50 = df[df['minutes'] <30]
df_under_50.head()

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
94,94,2019-0301,Auckland,Hard,32,A,20190107,291,105807,4.0,...,9.0,5.0,2.0,1.0,1.0,1.0,24.0,1705.0,124.0,460.0
909,909,2019-0410,Monte Carlo Masters,Clay,64,M,20190415,242,106065,11.0,...,3.0,1.0,2.0,2.0,0.0,2.0,16.0,2021.0,54.0,930.0
2029,2029,2019-6242,Winston-Salem,Hard,64,A,20190819,276,126207,10.0,...,9.0,5.0,1.0,3.0,2.0,4.0,52.0,1015.0,74.0,815.0
2519,2519,2019-0337,Vienna,Hard,32,A,20191021,297,106233,1.0,...,18.0,6.0,1.0,3.0,1.0,4.0,5.0,5085.0,34.0,1330.0
2587,2587,2019-0352,Paris Masters,Hard,64,M,20191028,251,133430,NaN,...,14.0,6.0,3.0,2.0,3.0,4.0,28.0,1460.0,53.0,990.0

In [85]:
df_stop = df[df['score'].str.contains("W/O")|df['score'].str.contains("RET")]
df = df.drop(df_stop.index.values)

In [86]:
df.head()

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0

In [87]:
df = df.drop(['Unnamed: 0','match_num','winner_seed','winner_entry','loser_seed','loser_entry','score','minutes','w_ace','w_df','w_svpt','w_1stIn','w_1stWon','w_2ndWon','w_SvGms','w_bpSaved','w_bpFaced','l_ace','l_df','l_svpt','l_1stIn','l_1stWon','l_2ndWon','l_SvGms','l_bpSaved','l_bpFaced'],axis=1)

In [88]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,winner_id,winner_name,winner_hand,winner_ht,...,loser_hand,loser_ht,loser_ioc,loser_age,best_of,round,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,20181231,105453,Kei Nishikori,R,178.0,...,R,198.0,RUS,22.885695,3,F,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,20181231,106421,Daniil Medvedev,R,198.0,...,R,188.0,FRA,33.705681,3,SF,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,20181231,105453,Kei Nishikori,R,178.0,...,R,188.0,FRA,31.882272,3,SF,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,20181231,104542,Jo-Wilfried Tsonga,R,188.0,...,R,183.0,AUS,19.868583,3,QF,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,20181231,106421,Daniil Medvedev,R,198.0,...,R,196.0,CAN,28.010951,3,QF,16.0,1977.0,18.0,1855.0

In [89]:
df_commun = df[['tourney_id','tourney_name','surface','draw_size','tourney_level','tourney_date','best_of','round']]
df_commun.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,best_of,round
0,2019-M020,Brisbane,Hard,32,A,20181231,3,F
1,2019-M020,Brisbane,Hard,32,A,20181231,3,SF
2,2019-M020,Brisbane,Hard,32,A,20181231,3,SF
3,2019-M020,Brisbane,Hard,32,A,20181231,3,QF
4,2019-M020,Brisbane,Hard,32,A,20181231,3,QF

In [90]:
df_player1 = df[['winner_id','winner_name','winner_hand','winner_ht','winner_ioc','winner_age','winner_rank','winner_rank_points']]
df_player1 = df_player1.rename(columns={
    "winner_id": "player_id",
    "winner_name": "player_name",
    "winner_hand": "player_hand",
    "winner_ht": "player_ht",
    'winner_ioc': "player_ioc",
    'winner_age': "player_age",
    'winner_rank': "player_rank",
    'winner_rank_points': "player_rank_points"
})
df_player1['target'] = 'win'
df_player1.head()

,player_id,player_name,player_hand,player_ht,player_ioc,player_age,player_rank,player_rank_points,target
0,105453,Kei Nishikori,R,178.0,JPN,29.004791,9.0,3590.0,win
1,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,win
2,105453,Kei Nishikori,R,178.0,JPN,29.004791,9.0,3590.0,win
3,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,239.0,200.0,win
4,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,win

In [91]:
df_player2 = df[['loser_id','loser_name','loser_hand','loser_ht','loser_ioc','loser_age','loser_rank','loser_rank_points']]
df_player2 = df_player2.rename(columns={
    "loser_id": "player_id",
    "loser_name": "player_name",
    "loser_hand": "player_hand",
    "loser_ht": "player_ht",
    'loser_ioc': "player_ioc",
    'loser_age': "player_age",
    'loser_rank': "player_rank",
    'loser_rank_points': "player_rank_points"
})
df_player2['target'] = 'lose'
df_player2.head()

,player_id,player_name,player_hand,player_ht,player_ioc,player_age,player_rank,player_rank_points,target
0,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,lose
1,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,239.0,200.0,lose
2,104871,Jeremy Chardy,R,188.0,FRA,31.882272,40.0,1050.0,lose
3,200282,Alex De Minaur,R,183.0,AUS,19.868583,31.0,1298.0,lose
4,105683,Milos Raonic,R,196.0,CAN,28.010951,18.0,1855.0,lose

In [92]:
df_c_p1 = df_commun.join(df_player1)
df_c_p1.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,best_of,round,player_id,player_name,player_hand,player_ht,player_ioc,player_age,player_rank,player_rank_points,target
0,2019-M020,Brisbane,Hard,32,A,20181231,3,F,105453,Kei Nishikori,R,178.0,JPN,29.004791,9.0,3590.0,win
1,2019-M020,Brisbane,Hard,32,A,20181231,3,SF,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,win
2,2019-M020,Brisbane,Hard,32,A,20181231,3,SF,105453,Kei Nishikori,R,178.0,JPN,29.004791,9.0,3590.0,win
3,2019-M020,Brisbane,Hard,32,A,20181231,3,QF,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,239.0,200.0,win
4,2019-M020,Brisbane,Hard,32,A,20181231,3,QF,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,win

In [93]:
df_c_p2 = df_commun.join(df_player2)
df_c_p2.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,best_of,round,player_id,player_name,player_hand,player_ht,player_ioc,player_age,player_rank,player_rank_points,target
0,2019-M020,Brisbane,Hard,32,A,20181231,3,F,106421,Daniil Medvedev,R,198.0,RUS,22.885695,16.0,1977.0,lose
1,2019-M020,Brisbane,Hard,32,A,20181231,3,SF,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,239.0,200.0,lose
2,2019-M020,Brisbane,Hard,32,A,20181231,3,SF,104871,Jeremy Chardy,R,188.0,FRA,31.882272,40.0,1050.0,lose
3,2019-M020,Brisbane,Hard,32,A,20181231,3,QF,200282,Alex De Minaur,R,183.0,AUS,19.868583,31.0,1298.0,lose
4,2019-M020,Brisbane,Hard,32,A,20181231,3,QF,105683,Milos Raonic,R,196.0,CAN,28.010951,18.0,1855.0,lose

In [94]:
result = pd.concat([df_c_p1,df_c_p2])

In [95]:
result['tourney_date'] = pd.to_datetime(result['tourney_date'], format='%Y%m%d')
result = result.sort_values(by="tourney_date")
result.head(10)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,best_of,round,player_id,player_name,player_hand,player_ht,player_ioc,player_age,player_rank,player_rank_points,target
43505,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,F,100079,Bill Bowrey,R,NaN,AUS,24.068446,NaN,NaN,win
43481,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R32,100180,Bill Lloyd,R,NaN,AUS,18.702259,NaN,NaN,lose
43480,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R32,100146,Jun Kamiwazumi,R,NaN,JPN,20.301164,NaN,NaN,lose
43478,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R32,107759,Max Pettman,R,NaN,AUS,NaN,NaN,NaN,lose
43497,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R16,100090,Dick Crealy,R,NaN,AUS,23.334702,NaN,NaN,win
43498,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R16,100064,Juan Gisbert,R,NaN,ESP,25.790554,NaN,NaN,win
43477,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R32,109966,Warren Jacques,R,NaN,AUS,29.861739,NaN,NaN,lose
43475,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R32,110023,Richard Coulthard,R,NaN,AUS,NaN,NaN,NaN,lose
43474,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R64,110046,Gaylard Dunn,R,NaN,AUS,NaN,NaN,NaN,lose
43473,1968-580,Australian Chps.,Grass,64,G,1968-01-19,5,R64,106562,Anthony Hammond,R,NaN,AUS,NaN,NaN,NaN,lose

In [103]:
result = result[result['player_name'] == 'Novak Djokovic']

In [104]:
result.shape

(1151, 17)

In [105]:
from sklearn.compose import make_column_transformer,make_column_selector
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Modèle
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [106]:
y = result['target'].replace(['win','lose'],[0,1])
X = result.drop(['target','tourney_date'],axis=1)

In [107]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [108]:
numerical_feature = make_column_selector(dtype_include=np.number)
categorical_feature = make_column_selector(dtype_exclude=np.number)

In [109]:
numerical_pipeline = make_pipeline(SimpleImputer(),StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy= 'most_frequent'),OneHotEncoder(handle_unknown = 'ignore'))

In [110]:
preprocessor = make_column_transformer((numerical_pipeline,numerical_feature),(categorical_pipeline,categorical_feature))

In [111]:
methods = [
    [
        RandomForestClassifier(random_state = 42),
        {
            "alg__max_depth" : [1,3,5,7,10],
            'alg__min_samples_leaf': [1,2,3,4,5]
        },
        'Random Forest',   
    ],
    [
        SVC(random_state = 42),
        {
            'alg__C': [0.1,1, 10, 100],
            'alg__gamma': [1,0.1,0.01,0.001],
            'alg__kernel': ['rbf', 'poly', 'sigmoid']
        },
        'SVC'
    ],
    [
        MLPClassifier(random_state = 42),
        {
            'alg__hidden_layer_sizes': [(10,30,10),(20,)],
            'alg__activation': ['tanh', 'relu'],
            'alg__solver': ['sgd', 'adam'],
            'alg__alpha': [0.0001, 0.05],
            'alg__learning_rate': ['constant','adaptive'],
            'alg__max_iter': [3000]
        },
        'Neural Network'
    ]
]
method, score_best, score_test = [],[],[]

# Recherche des meilleurs paramètres pour l'optimisation des algorithmes
for met in methods:
    model = Pipeline([
        ('pre',preprocessor),
        ('alg',met[0])
        ])
    grid = GridSearchCV(model,met[1],cv=5)
    grid.fit(X_train,y_train)
    print(met[2],'-\n    > Best score :',grid.best_score_,'\n    > Best params :',grid.best_params_,'\n    > Test score :',grid.score(X_test, y_test))
    method.append(met[2])
    score_best.append(grid.best_score_)
    score_test.append(grid.score(X_test, y_test))

Random Forest -
    > Best score : 0.8347826086956521
    > Best params : {'alg__max_depth': 1, 'alg__min_samples_leaf': 1}
    > Test score : 0.8528138528138528
SVC -
    > Best score : 0.8369565217391305
    > Best params : {'alg__C': 1, 'alg__gamma': 1, 'alg__kernel': 'rbf'}
    > Test score : 0.8484848484848485
Neural Network -
    > Best score : 0.8347826086956521
    > Best params : {'alg__activation': 'relu', 'alg__alpha': 0.0001, 'alg__hidden_layer_sizes': (10, 30, 10), 'alg__learning_rate': 'constant', 'alg__max_iter': 3000, 'alg__solver': 'sgd'}
    > Test score : 0.7922077922077922

In [140]:
grid.fit(X_train,y_train)

/Users/charles/opt/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:573: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")